/* Index CSS */

.welcome__content {
    font-size: 2em;
}

.welcome__content h1{
    font-weight: lighter;
}


.selling-points {
    background-color: rgba(255, 255, 255, 0.465);
    border-radius: 20px;
    max-width: 1000px;
    display: flex;
    justify-content: center;
}

.selling-points li, ul {
    display: block;
    font-size: 22px;
    padding: 10px;
}
.selling-points h2 {
    text-decoration: underline;
}

.featured,
.jackets-specific {
    max-width: 1000px;
    display: flex;
    flex-wrap: wrap;
}
.featured h2 {
    padding: 80px;
}
.products {
    width: 50%;
    padding: 20px;
    box-sizing: border-box;
}

.home {
    padding: 20px;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
}
.home,
.home-a,
.featured,
.jackets-specific {
    display: flex;
    justify-content: center;
}