/* Index CSS */

.welcome__content {
    font-size: 2em;
}


.selling-points {
    background-color: rgba(255, 255, 255, 0.465);
    border-radius: 20px;
    width: 1000px;
    display: flex;
    justify-content: center;
}

.selling-points li, ul {
    display: block;
    font-size: 22px;
    padding: 10px;
}
.selling-points h2 {
    text-decoration: underline;
}

.featured {
    display: grid;
    grid-template-columns: repeat(2, auto);
    max-width: 1000px;
    margin: 10px;
}
.featured h2 {
    padding: 80px;
}

.home {
    padding: 20px;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
}
.home,
.home-a,
.featured {
    display: flex;
    justify-content: center;
}