@media (min-width: 600px) {
    nav {
        display: block;
        position: static;
    }
    nav li {
        display: inline-block;
        padding: 0px;
    }

    header label {
        display: none;
    }
}

@media screen and (max-width: 1000px) {
    .jackets-specific {
      width: auto;
      margin: 20px;
    }
  }
  