/* Jackets CSS */

.jackets {
    max-width: 1000px;
    margin: 20px auto;
    display: flex;
}


/* Snowy Jackets CSS */

.jackets-specific,
.about {
    background-color: rgba(255, 255, 255, 0.465);
    border-radius: 20px;
    width: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    text-align: center;
}


.jackets-specific__images {
    background-color: var(--color-product-background);
    margin: auto;
    padding: 20px 0px;
}

.products {
    background-color: rgba(255, 255, 255, 0.465);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    text-align: center;
  }
  
  .products img {
    max-width: 100%;
    height: auto;
  }
  
  .products p {
    margin-top: auto;
  }
  
  .products a {
    margin-top: 10px;
  }
  
  
.product-specific__details {
    padding: 0px 30px; 
    margin: auto;
    max-width: 500px;
}

.product-specific__price {
    font-size: 2em;
}