/* Global Styles */

@font-face {
    font-family: "Roboto Condensed";
    src: url(../fonts/RobotoCondensed-Regular.ttf) format(truetype);
}

.welcome__content {
    font-size: 2em;
}

body {
    font-family: "Roboto Condensed", Verdana, Geneva, Tahoma, sans-serif;
    min-height: 100vh;
    margin: 0px;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

h1,
h2,
h3,
.logo {
    font-family: "Roboto Condensed", Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

.logo {
    font-size: 2em;
}

li {
    text-align: center;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}


footer {
    text-transform: uppercase;
    font-family: "Roboto Condensed", Verdana, Geneva, Tahoma, sans-serif;
    padding: 10px;
    text-align: center;
}

a {
    text-transform: uppercase;
    font-family: "Roboto Condensed", Verdana, Geneva, Tahoma, sans-serif;
    color: #FFF;
    text-decoration: none;
    padding: 10px;
}

p {
    font-size: 1.2em;
    text-align: left;
    font-family: "Roboto Condensed", Verdana, Geneva, Tahoma, sans-serif;
}

header,
footer {
    background: #0A3641;
    color: #FFF;
    padding: 20px;
}

nav {
    background: #0A3641;
    display: none;
    position: fixed;
    right: 0px;
    top: 45px;
    padding: 30px 30px;
}

nav li {
    padding: 20px 30px;
    display: block;
}


#hamburger-menu {
    display: none;
}

#hamburger-menu:checked ~ nav {
    display: block;
}

.cta {
    padding: 10px 50px;
    width: 80px;
    text-align: center;
    background-color: #0A3641;
    color: #FFF;
    margin-bottom: 50px;
    border-radius: 5px;
    position: relative;
    display: inline-block;

}

.current {
    text-decoration: underline;
}

.products {
    background-color: #0A3641;
}

.featured,
.products,
.jackets-list {
    display: grid;
    grid-template-columns: 1fr auto;
    max-width: 1000px;
    margin: 40px auto;
    padding: 20px;
    border: 3px #FFF solid;
    background-color: rgb(224, 224, 224);
}

/* jackets page */

.jackets {
    max-width: 1000vh;
}

   
.jackets-specific {
    display: flex;
    max-width: 1000px;
    flex-direction: row;
    margin-bottom: 50px;
}


.product-specific__price {
    font-size: 2em;
}

.product-specific__details {
    padding: 0px 30px; 
}

/* About us page */

.about {
    background-color: rgb(224, 224, 224);
    margin: 20px 0px;
}

/* media queries */

@media (min-width: 600px) {}
nav li {
  display: inline-block;
  padding: 0px;
}