/* Global Styles */

@import "imports/variables.css";
@font-face {
    font-family: "Roboto Condensed";
    src: url(../fonts/RobotoCondensed-Regular.ttf) format(truetype);
}

body {
    font-family: var(--text-all), Verdana, Geneva, Tahoma, sans-serif;
    min-height: 100vh;
    margin: 0px;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

h1,
h2,
h3,
.logo {
    font-family: var(--text-all), Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

h2,
h3 {
    text-transform: uppercase;
}


.logo {
    font-size: 2em;
}

li {
    text-align: center;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}


footer {
    text-transform: uppercase;
    padding: 10px;
    text-align: center;
}

a {
    text-transform: uppercase;
    color: var( --text-color);
    text-decoration: none;
    padding: 10px;
}

p {
    font-size: 1.2em;
    text-align: left;
}

header,
footer {
    background: var(--color-header-footer-border-cta);
    color: var( --text-color);
    padding: 20px;
}

nav {
    background: var(--color-header-footer-border-cta);
    display: none;
    position: fixed;
    right: 0px;
    top: 60px;
    padding: 20px 0px;
}

nav li {
    padding: 20px 30px;
    display: block;
}


#hamburger-menu {
    display: none;
}

#hamburger-menu:checked ~ nav {
    display: block;
}

.cta {
    padding: 10px 50px;
    text-align: center;
    background-color: var(--color-header-footer-border-cta);
    color: var( --text-color);
    margin-bottom: 50px;
    border-radius: 5px;
    position: relative;
    display: inline-block;

}

.current {
    text-decoration: underline;
}

.products {
    border: 3px var(--color-header-footer-border-cta) solid;
    max-width: 1000px;
    margin: 40px 10px;
    flex: 1 0 100px;
}

.products p{
    font-size: 1.5em;
}

.featured {
    display: grid;
    grid-template-columns: repeat(2, auto);
    max-width: 1000px;
    margin: 40px 10px;
}

.jackets-list {
    display: flex;
    grid-template-columns: repeat(3, 1fr);
    flex-wrap: wrap;
    align-items: center;
    max-width: 1000px;    margin: 20px auto;
    gap: 20px;
}
